[Unit]
Description=Pallanuoto GUI
After=systemd-user-sessions.service network-online.target
Wants=network-online.target

[Service]
User=davide
WorkingDirectory=/home/davide/segnapunti_pallanuoto/
ExecStartPre=/bin/sleep 5
ExecStart=/home/davide/python_venv/bin/python /home/davide/segnapunti_pallanuoto/rasp5/gui/giuria_gui.py
Restart=on-failure
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/davide/.Xauthority
StandardOutput=append:/var/log/giuria_gui.log
StandardError=append:/var/log/giuria_gui.log

[Install]
WantedBy=graphical.target
